@charset "UTF-8";
/*body要素*/
    body {
        margin:0;
        min-height:100dvh;
        display:flex;
        flex-direction:column;
        align-items:center;
    }

/*モード選択画面*/
    #mode-select,
    #compass-app {
        width: 100%;
        min-height: 100dvh;
    }
    #compass-app {
        display: none;
        text-align: center;
    }
    #mode-select h1{
        margin-top: 16px;
    }
    .mode-description {
        font-size: 30px;
        margin: 20px 0;
    }

    .mode-options {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;
        margin-top: 60px;
    }
    .mode-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 180px;
        gap: 50px;
    }

    /*ミニコンパス*/
    .mini-compass {
        position: relative;
        width: 150px;
        height: 150px;
        margin-bottom: 25px;
    }
    /* 円盤 */
    .mini-dial {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid black;
        border-radius: 50%;
        background:
        repeating-conic-gradient(
            from 0deg,
            black -1.5deg 1.5deg,
            transparent 1.5deg 43.5deg
        );
    }
    /* 円盤の内側 */
    .mini-dial::before {
        content: "";
        position: absolute;
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border-radius: 50%;
        z-index: 1;
    }
    /* 外側の円 */
    .mini-dial::after {
        content: "";
        position: absolute;
        width: 115%;
        height: 115%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 6px solid black;
        border-radius: 50%;
        z-index: 0;
    }
    /* 扇形 */
    .mini-fan-svg {
        position: absolute;
        width: 110%;
        height: 110%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 1;
    }
    .mini-fanPath {
        fill: rgb(255, 0, 0, 0.75);
    }
    /* 針 */
    .mini-arrow {
        position: absolute;
        width: 3%;
        height: 40%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
        background: linear-gradient(to bottom, darkred, black);
        border-radius: 3px;
        transform-origin: bottom center;
        z-index: 2;
    }
    /* 針の先 */
    .mini-arrow::before {
        content: "";
        position: absolute;
        width: 169%;
        height: 25%;
        left: 50%;
        top: -10%;
        transform: translate(-50%, -50%);
        background: linear-gradient(to bottom, red, darkred);
        clip-path: polygon(50% 0%, 88% 100%, 12% 100%);
        z-index: 2;
    }
    .mini-arrow::after {
        content: "";
        position: absolute;
        width: 250%;
        height: 20%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 200%);
        background: black;
        border-radius: 50%;
        z-index: 5;
    }

/*モード選択ボタン*/
    .mode-buttons{
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-top: 10px;
    }
    .mode-btn{
        min-width: 130px;
        padding: 12px 15px;
        font-size: 20px;
        font-weight: bold;
        background-color: white;
        color: #333;
        border: 2px solid #777779;
        border-radius: 6px;
        cursor: pointer;
        transition: 
            transform 0.15s,
            background 0.15s,
            color 0.15s;
    }
    .mode-btn:hover {
        background: #777779;
        color: white;
        transform: translateY(-2px);
    }
    .mode-title {
        display: block;
    }
    .mode-subtitle {
        display: block;
        font-size: 12px;
        font-weight: normal;
        margin-top: 4px;
    }

/*コンパス本体*/
/*コンパスを構成する要素 .compass_wrapper */
    .compass_wrapper {
        position:relative;
        width:min(80vw,400px);
        aspect-ratio: 1;
        margin: 60px auto 0;
    }
    /* .circle~.circle1 を統括する要素(回転させる要素) .dial*/
    .dial {
        position: absolute;
        width:  75%;
        height: 75%;
        aspect-ratio: 1;
        max-width:  300px;
        max-height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
/*内側の円*/
    .circle {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        border: 3px solid black; /* 枠線 */
        border-radius: 50%;
        box-sizing: border-box;
        top: 0%;
        left: 0%;
        /* 16分割線 */
        background:
        /*内側リングの灰色線*/
          repeating-conic-gradient(
          rgba(0,0,0,0.4) -0.5deg 0.5deg,
            transparent 0.5deg 19.5deg
          );
    }
    /*中心に白円(16等分線分の見た目を整えるため*/
    .circle::before {
        content: "";
        position: absolute;
        width: 45%;
        height: 45%;
        background: white;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*外側の円*/
    .circle::after {
        content: "";
        position: absolute;
        width: 115%;
        height: 115%;
        border: 5px solid black;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

/*最も外側にある黒いリング*/
    .circle1 {
        position: absolute;
        /* 少し外側に広げる */
        width: 130%;
        height: 130%;
        border: 3px solid black;
        border-radius: 50%;
        /* 下に潜らせる */
        z-index: 0;
        /* 外リングの線 */
        background: repeating-conic-gradient(black 0.5deg 29.5deg, transparent 29.5deg 30.5deg);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* 内側をくり抜く */
        mask: radial-gradient(circle, transparent 63%, black 64%);
        -webkit-mask: radial-gradient(circle, transparent 63%, black 64%);
    }

/*svg（1°ずつの目盛り)のコード*/
    .ticks{
        position:absolute;
        width:115%;
        height:115%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        pointer-events:none;
        z-index:1;
    }

    #ang_val {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-top: 25px;
    }

/*コンパスの針*/
    .arrow{
        position: absolute;
        max-width: 10px;
        max-height: 200px;
        width: 2%;
        height: 33%;
        background: linear-gradient(to bottom, darkred, black);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        transform-origin: bottom center;
        border-radius: 3px;
        /*針の上に線が来ないように*/
        z-index: 2;
    }
    /*針先の三角*/
    .arrow::before {
        content: "";
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -100%);
        transform-origin: bottom center;
        width: 150%;
        height: 30%;
        z-index: 2;
        background: linear-gradient(to bottom, red, darkred);
        /* ↓これが本体 */
        clip-path: polygon(50% 0%, 88% 100%, 12% 100%);
    }
    /*針の付け根の円*/
    .arrow::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 285%;
        height: 18%;
        background: black;
        border-radius: 50%;
    }

    /*反転前にカウントダウン*/
    #countdown{
        font-size: 20px;
        font-weight: bold;
        color: rgb(180, 180, 180);
        text-align: center;
    }

/*タップすると針を追加するボタン*/
    .ripple-btn {
        margin:50px auto 0;
        display: block;
        padding: 0.3em 1em;
        text-decoration: none;
        background: #FFF;
        color: #777779;
        border: solid 2px #777779;
        border-radius: 2px;
    }
    .ripple-btn:hover{
        background: #777779;
        color: #FFF;
    }
    /* 波紋 */
    .ripple {
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.6);
        transform: scale(0);
        animation: ripple-animation 400ms linear;
    }
    /*波紋のアニメーション*/
    @keyframes ripple-animation {
        to {
        transform: scale(2);
        opacity: 0;
        }
    }

/*ボタンを押した後に扇形の範囲を表示する*/
    .fanPath{
        transition: fill 0.2s;
    }

    .fan-svg {
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 115%;
        height: 115%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transform-origin: bottom center;
    }
    .fan-normal {
    fill: rgba(255, 0, 0, 0.75);
    }
    .fan-reverse {
    fill: rgba(0, 100, 255, 0.75);
    }

/*ラベルの要素*/
    .deg_labels {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        z-index: 5;
        pointer-events: none;
        font-weight: bold;
        color: black;
        text-shadow:
          -1px -1px 0 white,
          1px -1px 0 white,
          -1px 1px 0 white,
          -1px -1px 0 white;
    }
/*ラベルの要素その２*/
    .degreeLabel{
    position:absolute;
    font-size:14px;
    font-weight:bold;
    z-index:5;
    transform: translate(-50%, -50%);
    text-shadow:
      -1px -1px 0 white,
       1px -1px 0 white,
      -1px  1px 0 white,
       1px  1px 0 white;
}
