@charset "UTF-8";
/*body要素*/
    body {
        margin:0;
        min-height:100dvh;
        display:flex;
        flex-direction:column;
        align-items:center;
    }

/*コンパスを構成する要素 .compass_wrapper */
    .compass_wrapper {
        position:relative;
        width:min(80vw,400px);
        aspect-ratio: 1;
        margin-top:40px;
    }
    /* .circle~.circle1 を統括する要素(回転させる要素) .dial*/
    .dial {
        position: absolute;
        width:  75%;
        height: 75%;
        aspect-ratio: 1;
        max-width:  300px;
        max-height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
/*内側の円*/
    .circle {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        border: 3px solid black; /* 枠線 */
        border-radius: 50%;
        box-sizing: border-box;
        top: 0%;
        left: 0%;
        /* 16分割線 */
        background:
        /*内側リングの灰色線*/
          repeating-conic-gradient(
          rgba(0,0,0,0.4) -0.5deg 0.5deg,
            transparent 0.5deg 19.5deg
          );
    }
    /*中心に白円(16等分線分の見た目を整えるため*/
    .circle::before {
        content: "";
        position: absolute;
        width: 45%;
        height: 45%;
        background: white;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*外側の円*/
    .circle::after {
        content: "";
        position: absolute;
        width: 115%;
        height: 115%;
        border: 5px solid black;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

/*最も外側にある黒いリング*/
    .circle1 {
        position: absolute;
        /* 少し外側に広げる */
        width: 130%;
        height: 130%;
        border: 3px solid black;
        border-radius: 50%;
        /* 下に潜らせる */
        z-index: 0;
        /* 外リングの線 */
        background: repeating-conic-gradient(
        black 0.5deg 29.5deg,  /* 少しオフセット */
          transparent 29.5deg 30.5deg
        );
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* 内側をくり抜く */
        mask: radial-gradient(circle, transparent 63%, black 64%);
        -webkit-mask: radial-gradient(circle, transparent 63%, black 64%);
    }

/*svg（1°ずつの目盛り)のコード*/
    .ticks{
    position:absolute;
    width:115%;
    height:115%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    pointer-events:none;
    z-index:1;
    }

    #ang_val {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-top: 25px;
    }

/*コンパスの針*/
    .arrow{
        position: absolute;
        max-width: 10px;
        max-height: 200px;
        width: 2%;
        height: 33%;
        background: linear-gradient(to bottom, darkred, black);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        transform-origin: bottom center;
        border-radius: 3px;
        /*針の上に線が来ないように*/
        z-index: 2;
    }
    /*針先の三角*/
    .arrow::before {
        content: "";
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -100%);
        transform-origin: bottom center;
        width: 150%;
        height: 30%;
        z-index: 2;
        background: linear-gradient(to bottom, red, darkred);
        /* ↓これが本体 */
        clip-path: polygon(50% 0%, 88% 100%, 12% 100%);
    }
    /*針の付け根の円*/
    .arrow::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 285%;
        height: 18%;
        background: black;
        border-radius: 50%;
    }

    /*反転前にカウントダウン*/
    #countdown{
        font-size: 20px;
        font-weight: bold;
        color: rgb(75, 75, 75);
        text-align: center;
    }

/*タップすると針を追加するボタン*/
    .ripple-btn {
        position:static;
        margin-top:30px;
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        background: #FFF;
        color: #777779;
        border: solid 2px #777779;
        border-radius: 2px;
        left: 50%;
        top: 80%;
        transform: translate(-50%, 0%);
    }
    .ripple-btn:hover{
        background: #777779;
        color: #FFF;
    }
    /* 波紋 */
    .ripple {
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.6);
        transform: scale(0);
        animation: ripple-animation 400ms linear;
    }
    /*波紋のアニメーション*/
    @keyframes ripple-animation {
        to {
        transform: scale(2);
        opacity: 0;
        }
    }

/*ボタンを押した後に扇形の範囲を表示する*/
    .fan-svg {
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 115%;
        height: 115%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transform-origin: bottom center;
    }
    .fan-normal {
    fill: rgba(255, 0, 0, 0.75);
    }
    .fan-reverse {
    fill: rgba(0, 100, 255, 0.75);
    }

/*ラベルの要素*/
    .deg_labels {
        z-index: 5;
        position: absolute;
        transform-origin: center;
        font-weight: bold;
        color: black;
        transform:translate(-50%, -50%);
        text-shadow:
          -1px -1px 0 white,
          1px -1px 0 white,
          -1px 1px 0 white,
          -1px -1px 0 white;
    }
/*ラベルの要素その２*/
    .degreeLabel{
    position:absolute;
    transform:translate(-50%,-50%);
    font-size:14px;
    font-weight:bold;
    z-index:5;
    text-shadow:
      -1px -1px 0 white,
       1px -1px 0 white,
      -1px  1px 0 white,
       1px  1px 0 white;
}
